@use 'variables' as *;

body {
    background-color: $background-light;
    font-family: $body-font-family;

    
    ::selection {
        color: $text;
        background-color: rgba($primary, 0.2);
    }
    
   

}

.container {
    width: 100%;
    max-width: $container;
    margin: 0 auto;

    @media screen and (max-width: calc( $container + 20px)) {
        margin: 0px 10px;
    }
}

.small-container {
    width: 100%;
    max-width: $small-container;
    margin: 0 auto;
}

a {
    color: $text;
    text-decoration: none;
    &:hover {
        color: $primary;
    }
}

// Header
header {
    background-color: $gris-clair;

    .header-container {
        display: flex;
        gap: 78px;

        .logo {
            margin: 15px 0;
            img {
                height: 50px;
                width: auto;
            }
        }

        nav {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left-side, .right-side {
                display: flex;
                gap: 42px;

                a {
                    text-decoration: none;
                    color: $text;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.28px;

                    &:hover {
                        color: $primary;
                    }

                    &.active {
                        color: $gris-fonc;
                        font-weight: 600;
                        cursor: default;
                    }


                }
            }
        }
    }
}


// Footer
footer {
    background-color: $white;
    padding: 23px;
    display: flex;
    justify-content: end;
    gap: 40px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: $text;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.28px;

        &:hover {
            color: $primary;
        }
    }

    img {
        width: auto;
        height: 18px;
    }
}
