@use 'variables' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font-family;
    color: $gris-fonc;
}

h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h5 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
