// Colors
$background-light: #FAF9F7;
$gris-clair: #F5F3EF;
$text: #000;
$gris-text : #A6A6A6; 
$title : #292929;
$primary-light : #6DC5A1;
$primary : #00AC66;
$primary-hover : #006D41;
$white : #fff;
$warning : #C56D6D;


// Font
$font-family: 'Playfair Display', serif;


