// Colors
$background-light: #FAF9F7;
$gris-clair: #F5F3EF;
$text: #000;
$gris-text : #A6A6A6; 
$primary-light : #6DC5A1;
$primary : #00AC66;
$primary-hover : #006D41;
$white : #fff;
$warning : #C56D6D;
$gris-fonc : #292929;
$border: #F0F0F0;
$message-color: #EDF2F6;


// Font
$title-font-family: 'Playfair Display', serif;
$body-font-family: 'Inter', sans-serif;


// breakpoints
$breakpoint-smallmobile: 375px;
$breakpoint-mobile: 480px;
$breakpoint-largemobile: 768px;
$breakpoint-tablet: 992px;
$breakpoint-laptop: 1200px;
$breakpoint-desktop: 1400px;


// Container
$container: 1140px;
$small-container: 840px;




