@use '../variables' as *;

section.faq {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $gris-clair;

    .faq__container {
        h2 {
            text-align: center;
            margin-bottom: 24px;
        }

        .faq__text {
            text-align: center;
            margin: 24px 0 40px;
        }

        .faq-list {
            display: flex;
            gap: 36px;
            margin: 40px 48px;

            .faq-item {
                flex: 1;

                p {
                    text-align: center;
                    padding: 24px;
                    border-radius: 10px;
                    background: $white;
                    color: var(--Gris-fonc, #292929);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: normal;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .btn-container {
            display: flex;
            justify-content: center;
            margin-top: 48px;
        }
    }
}