@use '../variables' as *;

section.text-image {
    background-color: $gris-clair;
    padding: 80px 0 100px;
  
    .text-image__container {
        display: flex;
       gap:30px;



        .text {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .text-content {
                margin-top: 16px;
                margin-bottom: 40px;
            }
        }

        .image {
            flex: 1;

            img {
                max-height: 540px;
                width: auto;
            }

            p {
                color: $gris-text;
                font-family: $body-font-family;
                font-size: 12px;
                font-style: italic;
                font-weight: 400;
                line-height: normal;
                text-align: end;
                margin-top: 11px;
            }
        }


        

    }
    @media screen and (max-width: 768px) {
        .text-image__container{
            flex-direction: column-reverse;

            .text{
                
            }

            .image{
                
            }
        }
        padding: 0 0 20px;
    }
}