section.books-archive {
    margin: 130px 0 80px;

    .title-search {
        display: flex;
        justify-content: space-between;

        .search-form {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            
            button {
                position: absolute;
                top:50%;
                left: 8px;
                border: none;
                background-color: transparent;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            input {
                padding: 10px 10px 10px 40px;
                margin-bottom: 0;
                display: block;
                min-width: 310px;
            }
        }
    }

    .books-list {
        display: flex;
        gap: 38px;
        flex-wrap: wrap;
        margin-top: 70px;
    }
}