@use '../variables' as *;

section.register-login-form {
    display: flex;

    .left-side {
        flex: 1;
        margin-left: calc((100vw - $container) / 2);
        max-height: calc(100vh - 150px);
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: calc($container + 40px)) {
            margin-left: 20px;
        }

        h1 {
            margin-bottom: 56px;
        }

        form {
            display: flex;
            flex-direction: column;
            
            

            

            button {
                max-width: 322px;
                margin-bottom: 40px;

                @media screen and (max-width: 768px) {
                    max-width: 100%;
                }
                
            }

            p {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                margin-bottom: 10px;
            }


        }
    }

    .right-side {
        flex: 1;
        

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            height: calc(100vh - 150px);
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        .left-side {
            
            width: 95%;
            margin: 78px auto;
        }
    }
}