@use '../variables' as *;

button.btn,a.btn {
    display: inline-flex;
    padding: 22px 38px;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid transparent;
    align-items: center;
    gap: 10px;
    transition: all 0.1s ease;
    color: $white;
    text-align: center;
    font-family: $body-font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: fit-content;

    &.btn-primary {
        background-color: $primary;
        color: $white;

        &:hover {
            background-color: $primary-hover;
        }
    }



    &.btn-secondary {
        border: 1px solid $primary;
        background-color: $gris-clair;
        color: $primary;

        &:hover {
            color: $primary-hover;
            border-color: $primary-hover;
        }
    }
}