@use '../variables' as *;

label {
    color: $gris-text;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;

}

input {
    margin-bottom: 32px;
    border-radius: 6px;
    border: 1px solid $border;
    background: $white;
    max-width: 322px;
    padding: 15px 10px;

    &:focus {
        outline-color: $primary;
    }

    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}

select {
    margin-bottom: 32px;
    border-radius: 6px;
    border: 1px solid $border;
    background: $white;
    padding: 15px 10px;

    &:focus {
        outline-color: $primary;
    }

    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}

textarea {
    margin-bottom: 32px;
    border-radius: 6px;
    border: 1px solid $border;
    background: $white;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: $body-font-family;

    &:focus {
        outline-color: $primary;
    }

    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}